* {
	margin: 0;
	padding: 0;
}
img{
	border: none;
}

body{
	font-family: "Roboto", sans_serif;
	font-size: 14px;
    overflow-x:hidden;
}
header h1, nav, nav li{
	display: inline-block;
}
header{
	background-color: #03a9f4;
	height: 50px;
	width: 100%;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	box-shadow: 0px 0px 10px rgba(0,0,0,.8);
	z-index: 100;
	border-bottom: 0px solid #C10021;
}
header h1 a{
	font-family: "Roboto", sans_serif;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 28px;
	position:absolute;
	top:8px;
	left: 35px;
}

nav{
	position: absolute;
	top: 32.8%;
	left: 20.5%;
}
nav li a{
	color: white;
	text-decoration: none;
	font-family: Verdana, Arial, sans-serif;
	font-size: 13px;
	margin-right: 12px;
	padding: 5px;
}
nav li a:hover{
	background-color: #383838;
	border-radius: 3px;
}
.current{
	background-color: #383838;
	border-radius: 3px;
}

.App {
    padding-top: 70px;
}

section{
	width: 100%;
	margin: auto;
	display: flex;
	-webkit-flex-wrap: wrap;
  flex-wrap: wrap;

}
#secwrapper{
	padding-top: 70px; 
}
article{
	width: 400px;
	margin-right: 10px;
    margin-left: 10px;
	display: inline-block;
	vertical-align: top;
	border: 1px solid #c8c8c8;
	margin-bottom: 20px;
	padding: 7px;
	border-radius: 3px;
	box-shadow: 0 2px 3px #ccc;
	background-color: white;
	*display:inline;
    zoom:1;
}

.readmore{
	background-color: #03a9f4;
	padding: 5px 10px;
	color: white;
	text-decoration: none;
	border-radius: 3px;
	display: inline-block;
}
.readmore:hover{
	background-color: #383838;
}
article p{
	margin-bottom: 7px;
}
article>h1 {
    font-weight: bold;
    color: #757474;
}
footer{
	background-color: #03a9f4;
	height: 28px;
	color: white;
	padding: 7px;
}
footer p{
	margin: 5px 0 0 12%;
}
input,textarea {
	width: 100%;
}
input.checkbox {
	width:auto;
	margin-left: 5px;
}

.button{
    padding: 3px;
    display: inline-block;
    border-radius: 2px;
    font-family: "Arial";
    border: 0;
    margin: 5px 0px;
    background: #525252;
    font-size: 15px;
    line-height: 15px;
    color: white;
    width: auto;
    height: auto;
    box-sizing: content-box;
}
.button.save {
	background: #54bb1f;
}
.button.update {
	background: #525252;
}
.button.delete {
	background: #ff4f46;
	margin-left: 5px;
}
