* {
	margin: 0;
	padding: 0;
}
img{
	border: none;
}

body{
	font-family: "Roboto", sans_serif;
	font-size: 14px;
    overflow-x:hidden;
}
header h1, nav, nav li{
	display: inline-block;
	margin-top: 10px;
}

 nav li{
	margin-top: 0px;
}

header{
	background-color: #03a9f4;
	height: 50px;
	width: 100%;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	box-shadow: 0px 0px 10px rgba(0,0,0,.8);
	z-index: 100;
	border-bottom: 0px solid #C10021;
}
header h1 a{
	font-family: "Roboto", sans_serif;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 28px;
	
}

nav li a{
	color: white;
	text-decoration: none;
	font-family: Verdana, Arial, sans-serif;
	font-size: 13px;
	margin-right: 12px;
	padding: 5px;
}
nav li a:hover{
	background-color: #383838;
	border-radius: 3px;
}
.current{
	background-color: #383838;
	border-radius: 3px;
}

.App {
    padding-top: 70px;
}

section{
	width: 100%;
	margin: auto;
	display: flex;
	-webkit-flex-wrap: wrap;
  flex-wrap: wrap;

}
#secwrapper{
	padding-top: 70px; 
}
article{
	width: 400px;
	margin-right: 10px;
    margin-left: 10px;
	display: inline-block;
	vertical-align: top;
	border: 1px solid #c8c8c8;
	margin-bottom: 20px;
	padding: 7px;
	border-radius: 3px;
	box-shadow: 0 2px 3px #ccc;
	background-color: white;
	*display:inline;
    zoom:1;
	font-size: 18px;
}

.readmore{
	background-color: #03a9f4;
	padding: 5px 10px;
	color: white;
	text-decoration: none;
	border-radius: 3px;
	display: inline-block;
}
.readmore:hover{
	background-color: #383838;
}
article p{
	margin-bottom: 7px;
}
article>h1 {
    font-weight: bold;
    color: #757474;
}
footer{
	background-color: #03a9f4;
	height: 28px;
	color: white;
	padding: 7px;
}
footer p{
	margin: 5px 0 0 12%;
}
input,textarea {
	width: 100%;
}
input.checkbox {
	width:auto;
	margin-left: 5px;
}

.button{
    padding: 7px;
    display: inline-block;
    border-radius: 2px;
    font-family: "Arial";
    border: 0;
    margin: 5px 0px;
    background: #525252;
    font-size: 15px;
    line-height: 15px;
    color: white;
    width: auto;
    height: auto;
    box-sizing: content-box;
    margin-right: 5px;
	cursor: pointer;
}
.button:hover {
	background: #381d1d;
}
.button.save {
	background: #54bb1f;
}
.button.update {
	background: #525252;
}
.button.delete {
	background: #ff4f46;
	margin-left: 5px;
}

.tags {
  list-style: none;
  margin: 0;
  overflow: hidden; 
  padding: 0;
}

.tags li {
  float: left; 
}

.tag {
  background: #9e9c9c;
  border-radius: 3px 0 0 3px;
  color: #fff;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 0px 0 5px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  font-size: 14px;
}

.delete {
	background: #fd0000;
    float: right;
    margin-left: 5px;
    padding: 0 3px 0 3px;
	cursor: pointer;
}

.delete:hover {
	background-color: crimson;
  color: white;
}

.plusButton {
	background: #2f0afb;
    color: #fff;
    padding: 0 3px 0 3px;
    cursor: pointer;
    width: 11px;
}

.buttons {
	width: 100%;
}